/*
Ref = https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2
*/

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
  }

  .modal-header h2 {
    text-align: left;
    margin: 15px 0px 0px 5px;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 0 15px 15px;
    text-align: left;
  }

  .button-updated {
    border: none;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
  }