.wordsearch-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  padding-bottom: 15px;
  padding: 10px;
  margin: auto;
  margin-bottom: 2em;
}

.wordsearch-content-wrapper {
  display: flex;
  flex-direction: column;
}

.wordsearch-content-wrapper h2 {
  text-align: left;
  margin: 10px 10px 0;
}

.search-input {
  padding: 10px;
  border-radius: 3px;
}

.word-info {
  margin: 10px 10px 0;
}

.light {
  color: rgb(0, 0, 0, 0.7);
}

.wordsearch-content-wrapper .empty-placeholder {
  margin: 25px;
  color: rgba(0, 0, 0, 0.4);
}
